@import 'login.css';
@import 'mypage.css';
@import 'find.css';
@import 'join.css';
@import 'tos.css';
@import 'imageUpload.css';
@import 'board.css';

/* 라이브러리 */
@import 'jquery.nice-number.css';

/* common */
.wrap-width {
    width: 400px;
}

.bTitle {
    font-size: 22px;
    text-align: center;
    padding-bottom: 20px;
}

.mTitle {
    font-size: 18px;
}

.dTitle {
    font-size: 18px;
    border-bottom: 1px solid lightgray;
    text-align: center;
    margin: 15px 0;
    padding: 8px;
}

.warning {
    font-size: 13px;
    line-height: 1;
    color: #f44336;
    position: relative;
    left: 30px;
    margin: -10px 0 10px 0;
}

#center .form {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* field */
.field {
    display: flex;
    align-items: center;
    background-color: #e9e9e96e;
    padding: 15px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.two-field {
    width: 70%;
}

.field .field-icon {
    color: #344667;
    font-size: 16px;
    width: 20px;
    text-align: center;
}

.field .field-input {
    border: 0;
    padding: 0 0 0 15px;
    background-color: transparent;
    outline: none;
    width: 100%;
    font-size: 16px;
}

::-webkit-input-placeholder {
    color: #80808080;
}

::-moz-placeholder {
    color: #80808080;
}

.email-chk {
    height: 54px;
    border-radius: 16px;
    width: 25%;
    color: white;
    cursor: pointer;
    background-color: #fdcb6e;
    border: 1px solid;
    font-size: 14px;
}

.email-chk:hover {
    border-color: #fdcb6e;
    transition: .3s;
}

.field-submit {
    color: white;
    border-radius: 10px;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #fdcb6e;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid;
}

.field-submit:hover {
    border-color: #fdcb6e;
    transition: .3s;
}