#center .join-form {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 375px;
    overflow-y: auto;
}

.join-wrap {
    margin: 0 auto;
    padding: 0 30px;
    height: 533px;
}

.titleResize {
    padding: 15px;
}

.db-field {
    display: flex;
}

.join-submit {
    margin: 15px 0;
}