    #cont_banner {
        clear: both;
        float: left;
        width: 100%;
        /*height: 40%; */
        height: 266px;
        background: #d9d9d982;
        overflow: hidden;
        margin-top: 75.3px;
    }

    #cont_left {
        float: left;
        width: 50%;
        /*height: 40%;*/
        height: 302px;
        overflow: hidden;
    }
    .cont_left {
        padding: 10px;
        background: white;
        overflow: hidden;
    }

    #cont_right {
        float: left;
        width: 50%;
        /*height: 40%; */
        height: 302px;
        overflow: hidden;
    }
    .cont_right {
        padding: 10px;
        background: white;
        overflow: hidden;
    }

    #center {
        clear: both;
        float: left;
        /* height: 604px; */
        height: 568px;
        margin-top: 75.3px;
        overflow: hidden;
        background: aliceblue;
        width: 100%;
        position: relative;
    }

    #footer {
        clear: both;
        /*height: 10%;*/
        height: 75.3px;
        text-align: center;
        line-height: 4.66;
    }

    /* 로딩 */
    /*.loader {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 60px; height: 60px;
        animation: spin 2s linear infinite;
        // linear : 일정하게 도는 
        position: fixed; // 브라우저 기준으로 요소를 배치 
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    @keyframes spin {
        0% {transform: translate(-50%,-50%) rotate(0deg);}
        100% {transform: translate(-50%,-50%) rotate(360deg);}
    }*/