    /* 화면 너비 0 ~ 1220px */
    @media (max-width: 1220px){
        .post-slider .post-wrapper .post .post-info h4 {
            margin: 0 auto;
            width: 240px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    /* 화면 너비 0 ~ 1024px */
    @media (max-width: 1024px){
        
    }

    /* 화면 너비 0 ~ 960px */
    @media (max-width: 960px){
        /*  */
    }

    /* 화면 너비 0 ~ 850px */
    @media (max-width: 850px){
        /*header {padding-bottom: 0;}*/
        .toggle {
            display: block;
            position: absolute; right: 320px;
        }
        /*header .menu {display: none !important;}*/
        header nav {float: none; background: #fff;} /*padding: 0 15px;*/
        header nav ul {float: none;}
        header .logo {float: none; padding : 0 0 20px 15px;}
        
        .menu {display: none;}
        .menu li {float: none;}
        
        /*.icon {position: absolute; top: 13px; right: 30px;}
        .info {position: absolute; top: 13px; right: 150px;}*/
    }

    /* 화면 너비 0 ~ 768px */
    @media (max-width: 768px){
        
    }

    /* 화면 너비 0 ~ 600px */
    @media (max-width: 600px){
       
    }

    /* 화면 너비 0 ~ 480px */
    @media (max-width: 480px){

    }

    /* 화면 너비 0 ~ 320px */
    @media (max-width: 320px){
        
    }

    /* 화면 너비 0 ~ 300px */
    @media (max-width: 300px){
        .post-slider .post-wrapper .post .post-info h4 {
            width: 200px;
        }
    }
    
    @media (max-width: 240px){
        .post-slider .post-wrapper .post .post-info h4 {
            width: 110px;
        }
    }