    @font-face {
     font-family: 'NanumBarunGothic';
     font-style: normal;
     font-weight: 400;
     src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
     src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
    }

    @font-face {
     font-family: 'NanumBarunGothic';
     font-style: normal;
     font-weight: 700;
     src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
     src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
    }

    @font-face {
     font-family: 'NanumBarunGothic';
     font-style: normal;
     font-weight: 300;
     src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
     src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
    }

    * {
     font-family: 'NanumBarunGothic', sans-serif;
    }

    :root {
            
    }
        
    body {height: 100vh}

    .clear {clear:both;}
    .tit {font-size: 20px; color: #2f7fa6; padding: 10px; text-align: center;}

    #header {height: 15%;}

    #cont_banner {
        clear: both; float: left; width: 100%; 
        /*height: 35%;*/height: 264px;
        background: #bbdefb; overflow: hidden;
    }
    #cont_left {float: left; width: 50%; height: 264px;     overflow: hidden; /*height: 35%;*/}
    #cont_right {float: left; width: 50%; height: 264px; /*height: 35%;*/ background: #789bb9;}

    #footer {clear: both; height: 113px; /*height: 15%;*/ background: #90caf9;}
    .footer {}

    /* 컨테이너 */
    .container {
        display: block;
        position: relative;
        margin: 0 auto; 
        height: 100%;
    }

    .nav {
        background: #fff;
        display: flex; /* 가로 정렬 */
        justify-content: space-between; /* 같은 중심축에 공간 사이에 간격 넣기 */
        align-items: center; /* 수직축 가운데 정렬 */
        /*padding: 39.9px 12px;*/
        font-size: 20px;
        height: 112.5px;
    }
    .nav_logo {
        
    }
    .nav_logo img {width: 15vh; height: 15vh;}

    .nav_menu {display: flex; padding-left: 0;}
    .nav_menu li {margin-left: 5em;}

    .nav_info {display: flex;}
    .nav_info li {padding: 8px 12px;}

    .nav_btn {position: absolute; right: 32px; font-size: 24px; display: none;}