.search__input{
  width: 300px;
  height: 40px;
  background-color: #ffbb0033;
  decoration: none;
  margin-top: 70px;
  font-size: 18px;
  margin-left: 5px;
}

.search_button{
  width: 70px;
  height: 40px;
  background-color: #ffbb0033;
  color: #999;
  font-size: 16px;
  margin-top: 70px;
}

.content {
    width: 411px;
    height: 560px;
}

.button_wrap{
  width: 310px;
  height: 580px;
  margin: 0 auto;
  margin-top: 30px;
}

.button{
  width: 300px;
  height: 50px;
  background-color: #ffbb00;
    border: none;
    color:#fff;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px;
}

#show{
  background-color: #eee;
  width: 411px;
  height: 170px;
  font-size: 20px;
  position: fixed;
}
