.content{
  width: 411px;
  height: 600px;
  margin-top: 60px;
}


.header2{
  width: 411px;
  height: 30px;
  display: flex;
  border: 1px solid #ccc;
}
.header2 .allcheck{
    width: 25px;
    height: 25px;
}
.header2 .header2_text{
  font-size: 16px;
  margin: 5px 0 0 10px;
}
/* ================================================== */
.top_text{
  margin: 0;
  padding-left: 10px;
  font-size: 15px;
  width: 350px;
}
/* ================================================== */
.main{
  width: 350px;
  margin: 0 auto;
  display: table;
}
.main .main_alltext{
  margin: 5px;
  font-size: 15px;
}
.main .box_check{
  width: 25px;
  height: 25px;
}
.main .box{
  border: 1px solid #ccc;
  width: 350px;
  height: 130px;
  display: flex;
}
.main .box .box_1{
  display: flex;
}
.main .box .box_1 .box_img{
  width: 100px;
  height: 100px;
  margin-left: 10px;
}
.box_1_1 .stock_name{
  margin: 30px;
  font-size: 22px;
}
.box_1_1 .pm{
  margin: 25px;
}
.pm .number{
  width: 80px;
}
/* ================================================== */
.box2{
  width: 350px;
  margin: 0 auto;
  display: flex;
  height: 50px;
  border: 1px solid #ccc;
}
.box2 .allnum{
  margin-left: 5px;
  font-size: 16px;
}
.box2 .price{
  height: 26px;
  width: 250px;
  margin: 12px
}
/* ================================================== */
.reservation{
  padding-top: 20px;
  width: 350px;
  margin: 0 auto;
}
.reservation .re{
  border: 0;
  width: 350px;
  height: 30px;
  background-color: #ffbb00;
}
