	@charset "UTF-8";
	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
	
	body {
	width: 500px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	font-family: 'Noto Sans KR', sans-serif;
	}
	
	ul, li {
    list-style:none;
	}
	
	.container .wrap {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	}
	
	/* 가운데 정렬 첫번째 방법 
	- 상위 div : text-align: center;
	- 하위 div : display: inline-block; */
	
	/* center */
	.container .wrap .center {
	width: 100%;
	height: 60%;
	margin: 0 auto;
	background: yellow;
	}